.rider{
    text-align: center;
    border-radius: 5px;
    width: 200px;
    height: 180px;
    padding: 10px;
    margin: 10px;
    background-color: wheat;
    cursor: pointer;
}
.rider img{
    width: 180px;
    height: 100px;
}